#header-container {
    position: absolute;
    top: 0;
    z-index: 2;
}

#drop-down-toggle {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 100;
}

#drop-down-toggle:hover {
    cursor: pointer;
}

.hamburger-bar {
    width: 33px; 
    height: 6px;
    margin-top: 5px;
    border-radius: 20%;
    background: #910000;
    border: solid #ffffff 1px;
    box-shadow: 3px 3px 0 0;
}

.hidden {
    display: none;
}


#header-image {
    width: 100%;
    display: block;
}

.header-option {
    font-size: 12px;
    text-align: center;
    border: 1px solid rgb(44, 44, 44);
    background: url('/Images/LightMetalSheet.jpg');
    background-size: cover;
    color: black;
}

.header-option h1 {
    margin: 10px 0;
}

.header-option:hover {
    background: url('/Images/MetalSheet.jpg');
    background-size: cover;
    background-color: rgb(70, 70, 70);
    color: white;
    text-shadow: 0 0 5px #640000, 0 0 10px #640000, 0 0 15px #640000, 0 0 20px #640000, 0 0 30px #640000, 0 0 40px #640000, 0 0 55px #640000, 0 0 75px #640000;
}

@media(min-width: 600px){
    #header-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto;
    }

    .header-option {
        max-height: 50px;
    }

    #header-image {
        grid-column: 1 / 4;
    }

}












































/* #drop-down-toggle {
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 1;
}

#drop-down-toggle:hover {
    cursor: pointer;
}

.hamburger-bar {
    width: 30px; 
    height: 5px;
    margin-top: 5px;
    border-radius: 25%;
    background: white;
    border: solid black 1px;
}

.hidden {
    display: none;
}


#nav-items-container {
    margin: 0;
    margin-top: -3px;
    padding: 0;
    list-style: none;
}

.nav-option {
    text-align: center;
    text-shadow:
		-2px -2px 0 #000,
		2px -2px 0 #000,
		-2px 2px 0 #000,
		2px 2px 0 #000;
    height: 45px;
    font-size: 35px;
    font-weight: 700;
    color: white;
    padding: 10px 0 0px;
    border: 1px solid rgb(0, 0, 0);
    background-image: url('/Nav-Images/MetalSheet.jpg');
    background-size: cover;
}

.nav-option:hover {
    cursor: pointer;
    background-size: auto;
}

.nav-drop-down {
    list-style: none;
    margin: 4px 0 0 0;
    padding: 0;
}

.nav-drop-down-item {
    text-align: center;
    display: none;
    background-image: url('/Nav-Images/MetalSheet.jpg');
    background-size: cover;
    color: white;
    padding: 10px;
    border: 1px solid black;
    z-index: 1;
}

.nav-drop-down-item:hover {
    cursor: pointer;
    background-size: auto;
}

.show {
    display: block;
    position: relative;
    top: 0;
}

#header {
    width: 100vw;
}


@media(min-width: 500px){

    #drop-down-toggle {
        display: none;
    }

    .hidden {
        display: block;
    }

    #header-container {
        width: 100vw;
        margin-bottom: 30px;
    }

    #nav-items-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        border-bottom: 1px solid rgb(0, 0, 0);
    }

    #logo {
        max-height: 100%;
        max-width: 100%;
        margin: 0 0 0 50px;
    }

    #logo:hover {
        cursor: pointer;
    }

    
    
} */
